

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <!-- Bootstrap Core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/3.3.7/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{asset('css/index/landing-page.css')}}">
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

  <!-- Navigation -->
  {% block nav %}
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand topnav" href="{{ path('homepage') }}">CovoiMiage</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
            <li><a href="{{ path('profile') }}">Profil</a></li>
          {% else %}
          <li>
            <a href="registration">Inscription</a>
          </li>
          <li class="dropdown" >
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Connexion</b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
              <li>
                <div class="row">
                  <div class="col-md-12">
                      {{ render(controller('AppBundle:Security:login')) }}
                    </div>
                    <div class="bottom text-center">
                      Pas encore inscrit?<a href="/register"><br><b>S'inscrire !</b></a>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          {% endif %}

            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    {% endblock %}

    {% block body %}{% endblock %}

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-inline">
              <li>
                <a href="/">Page d'accueil</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; CovoiMiage Théo Lacroix & Leon Ferrari. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block javascripts %}{% endblock %}
  </body>
  </html>
