{% extends 'base.html.twig' %}
{% block title %}CovoiMiage | Le covoiturage dans un nuage !	{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" media="screen"
href="{{asset('css/index/bootstrap-datetimepicker.css')}}">
{% endblock %}

{% block nav %}{{parent()}}{% endblock %}
{% block body %}
<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>CovoiMiage</h1>
          <h3>Le covoiturage dans un nuage !</h3>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <h2 class="section-heading">Rechercher un trajet !<br><small>Covoiturez en toute légèreté</small></h2>
      </div>
    </div>
    <form>
      <div class="form-group row">
        <div class="col-sm-3 offset-sm-2">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-screenshot"></span>
            </span>
            <input type="text" class="form-control" placeholder="Départ" id="depart">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-screenshot"></span>
            </span>
            <input type="text" class="form-control" placeholder="Destination" id="destination">
          </div>
        </div>
        <div class='col-sm-3'>
          <div class="form-group">
            <div class='input-group' >
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
              <input type='text' class="form-control" id='datetimepicker' />
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <button type="submit" class="btn btn-primary "name="button">Chercher un trajet</button>
        </div>
      </div>
    </form>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <img src="{{asset('img/index/4243.jpg')}}" alt="">
      </div>
        <div class="col-lg-5 col-sm-6">
          <h2 class="section-heading">Proposer un trajet !<br><small>Je suis tout seul et j'ai besoin de parler :(</small></h2>
          <br>
          <br>
          <a href="/AddTrajet" class="btn btn-primary" name="seekTraj">Je propose mon trajet</a>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript"
src="{{ asset('js/index/moment.js') }}">
</script>
<script type="text/javascript"
src="{{ asset('js/index/fr.js') }}">
</script>
<script type="text/javascript"
src="{{ asset('js/index/bootstrap-datetimepicker.js') }}">
</script>
<script type="text/javascript">
$(function () {
  $('#datetimepicker').datetimepicker({
    minDate: new Date(),
    format: 'DD/MM/YYYY'
  });

});
</script>
<script type="text/javascript">
  function initAutocomplete(){
    var origin_autocomplete,destination_autocomplete;
    origin_autocomplete = new google.maps.places.Autocomplete(document.getElementById('depart'));
    origin_autocomplete.addListener('place_changed', function(){});
    destination_autocomplete = new google.maps.places.Autocomplete(document.getElementById('destination'));
    destination_autocomplete.addListener('place_changed', function(){});
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3z3kJLlB-90weDg5R5M-ufw61cRMpvRE&signed_in=true&libraries=places&callback=initAutocomplete" charset="utf-8"></script>
{% endblock %}
