{% extends 'base.html.twig' %}

{% block body %}
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <h2 class="section-heading">{{titre}}<br></h2>
      </div>
    </div>

    <div class="row">
      {% for trajet in trajets %}
      <a href="" data-toggle="modal" data-target="#{{trajet.IDtrajet}}">
        <div class="col-md-4 col-sm-6">
          <div class="thumbnail" style="hover{background-color:#777}">
            <div class="caption">
              <h3>{{trajet.date|localizeddate('long','none')}} à {{trajet.heure}}h{{trajet.min}}</h3>
              <h3>{{trajet.villedep|split(',')[0]}} -> {{trajet.villefin|split(',')[0]}}</h3>
              <h4>Places restantes : {{trajet.nbplaces}}</h4>
              Prix : <span class="badge">{{trajet.prix}}€</span>
            </div>
          </div>
        </div>
      </a>
      <div class="modal fade" id="{{trajet.IDtrajet}}">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            {{render(controller('AppBundle:Trajet:loadTrajet', {'id' : trajet.IDtrajet}))}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3z3kJLlB-90weDg5R5M-ufw61cRMpvRE&signed_in=true&libraries=places&callback=initMap"
async defer></script>
{% endblock %}
