

<div class="content-section-a">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" style="text-align:center">
        <h4>{% trans %}Départ{% endtrans %} : <small>{{trajet.villedep}}</small></h4>
        <h4>{% trans %}Arrivée{% endtrans %} : <small>{{trajet.villefin}}</small></h4>
        <h4>{% trans %}Date de départ{% endtrans %} :<small>{{trajet.date|date('D-d-M-Y')}} à {{trajet.heure}}h{{trajet.min}}</small></h4>
        <h4>Prix: <small><span class="badge">{{trajet.prix}}€</small></h4>
          <h4>{% trans %}Description{% endtrans %}:<br><small>{{trajet.description}}</small></h4>
          {% if is_granted('ROLE_USER') %}
            {% if app.user.ID_user == trajet.IDconducteur %}
            <form class="" action="{{path('delete_trajet', {'id':trajet.IDtrajet})}}" method="post">
              <input type="submit" class="btn btn-danger" value="Supprimer">
            </form>
            {% else %}
              {% if trajet.nbplaces == 0 %}
                <h4>Ce trajet est complet !</h4>
              {% else %}
              {{form_start(formReserv, {'action' : path('reserv', {'idtrajet': trajet.IDtrajet, 'idpersonne' : app.user.ID_user , 'nbplaces' : 1})})}}
              {{form_end(formReserv)}}
              {% endif %}
            {% endif %}
          {% endif %}


        </div>
    </div>
  </div>

</div>
<script type="text/javascript">

function initMap(){
  var origin_place_id = '{{trajet.IDvilledep}}';
  var destination_place_id = '{{trajet.IDvillefin}}';
  var map = new google.maps.Map(document.getElementById("{{trajet.IDtrajet}}map"), {
    center: {lat: 48.85, lng: 2.35},
    zoom: 5
  });
  var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer;
  directionsDisplay.setMap(map);
  directionsService.route({
    origin: {'placeId': origin_place_id},
    destination: {'placeId': destination_place_id},
    travelMode: 'DRIVING'
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}
</script>
